# Executables
*.out
*.exe
*.o
*.a
*.so

# Directories
.vscode/
.idea/
build/
dist/
bin/

# macOS
.DS_Store
*.swp
*.swo

# Valgrind
*.suppression
vgcore.*

# Dependencies
*.d

a.out.dSYM

srcs/visualizer.c
srcs/test.c
srcs/test_full.c
malloc_tests
malloc_tests.dSYM
run_demo